<style>
    md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    border-bottom: 2px solid#33cccc;
    color: black;
}

</style>
<script type="text/javascript">
    app.controller('iontopicsctrl', function($state,$scope, $filter, $rootScope,$http,commonService,$mdDialog ) {
      
         if(sessionStorage.username=="" || sessionStorage.username == undefined){
                    $state.go("access.login");
          }
          else{
              $rootScope.login_category=sessionStorage.category;
                //for blog start from first page
                    $rootScope.selectedIndexForBlogs=0;
                    $rootScope.currentPageForBlogs=1;	
                //for blog start from first page
                //for assign blog start from first page
                    $rootScope.assignedBlogIndex=0;
                    $rootScope.currentPageForAssignedBlogs=1;
		        //for assign blog start from first page
              if(sessionStorage.category==22)
              {
                  commonService.getWithOutKeywordsForRM()
                  .then(function success(response) {
                        $scope.iontopics=response.data.description;
                        $scope.totalItems=response.data.description.length;
                        $scope.currentPage = 1;
                        $scope.entryLimit = 10; // items per page
                        $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
                    });
              }

              commonService.getwithoutkeywordsTopics() 
               .then(function success(response) {
               
                $scope.iontopics=response.data.description;
                $scope.totalItems=response.data.description.length;
                $scope.currentPage = 1;
                $scope.entryLimit = 10; // items per page
                $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
              });

          }  
           $scope.getiontopic=function(title,description,ev){
               //console.log(title);
              // console.log(description);
              $rootScope.iontopicTitle=title;
              $rootScope.iontopicDescription=description;
                    $mdDialog.show({
                        controller: DialogController,
                        templateUrl: 'iontopiceTemplate.html',
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose:true,
                        fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
                    })
                    .then(function() {
                      
                    });
           }
    function DialogController($scope, $mdDialog) {
        $scope.iontitle=  $rootScope.iontopicTitle;
        $scope.iondescription=  $rootScope.iontopicDescription;
                $scope.hide = function() {
                  $mdDialog.hide();
                };

                $scope.cancel = function() {
                  $mdDialog.cancel();
                };

                $scope.no = function() {
                  $mdDialog.hide();
                };
                $scope.iontopicsedit=function(title,description){
                    console.log(title);
                    console.log(description);
                    $mdDialog.hide();
                    commonService.getwithoutkeywordsTopics().then(function success(response) {
                            $scope.iontopics=response.data.description;
                          });
                }
            }

          $scope.readCsv=function(){

              console.log($scope.ionizeTopicsFile);
              var fd = new FormData();
            fd.append('csv_file',$scope.ionizeTopicsFile);
            //fd.append('blog_id',$stateParams.blogId);
            commonService.uploadTopics(fd).success(function(response){
                      $mdDialog.show(
                                      $mdDialog.alert()
                                        .parent(angular.element(document.querySelector('#popupContainer')))
                                        .clickOutsideToClose(true)
                                        .textContent("Ion Topics Uploaded successfully.")
                                        .ok('Ok')
                                        .targetEvent()
                                    ).then(function() {
                                }, function() {
                                });
                     location.reload(true);
                }).error(function(error){
                  
                }); 

          }   

    // select author
    $http.get(sessionStorage.IonServer+"/index.php/request?action=queryreport&module=ionize&resource=posts")
    .success(function(response){
        $scope.getauthor=response.description;
       // console.log($scope.getauthor);
    });
    });


    app.filter('startBlogFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        };
    });
   // var deferred = $q.defer();  
                        app.directive('fileModel', ['$parse', function ($parse) {
                        return {
                            restrict: 'A',
                            link: function(scope, element, attrs) {
                                var model = $parse(attrs.fileModel);
                                var modelSetter = model.assign;
                                
                                element.bind('change', function(){
                                    scope.$apply(function(){
                                        modelSetter(scope, element[0].files[0]);
                                    });
                                });
                            }
                        };
                    }]); 

</script>

                    
<div class='content-wrapper' ng-controller="iontopicsctrl"  ng-init="app.settings.pagetitle = 'With out Keywords';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">With out Keywords Table</h2>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                             <div class="input-group primary" inputgroup>
                                    <span class="input-group-addon">                
                                                    <span class="arrow"></span>
                                                    <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control search-page-input" placeholder="Search" value="Graphic Design" ng-model="searchFilter" style="width:30%;">

                                    <span >Import ionize Topics</span>
                                     <input type="file" style="display:inline;margin-left:30px;" accept=".csv, text/csv" file-model="ionizeTopicsFile"/>
                                     <button ng-click="readCsv(ionizeTopicsFile)">submit</button>
                                </div>
                                <div>
                                <h3 class="title pull-left" ng-show="(iontopics | filter:searchFilter).length==0">
                                No Topics Are Available
                                </h3 >
                                   <md-input-container style="margin-right: 10px;">
                                        <label>Select Author</label>
                                        <md-select ng-model="seleauthor" >
                                          <md-option  value="">Select Author</md-option>
                                          <md-option ng-repeat="author in getauthor" value="{{author.teamid}}">{{author.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                   
                                </div>
                            
                        
                        <table class="table table-striped" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:20%">Topic Title</th>
                                    <th style="width:35%">Description</th>
                                    <th style="width:25%">Start Date</th>
                                    <th style="width:15%">Author</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="iontopic in filtered=iontopics | filter:searchFilter |filter:seleauthor | startBlogFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td ng-click="getiontopic(iontopic.title,iontopic.description)">{{iontopic.title}}</td>
                                <td>{{iontopic.description}}</td>
                                <td>{{iontopic.start_date}}</td>
                                <td>{{iontopic.author}}</td>
                            </tr>
                            <tbody>
                            </tbody>
                        </table>
                          <div class="col-md-5 col-sm-6 col-xs-12" style="width: 100%;" ng-hide="(iontopics | filter:searchFilter).length==0">
                                <nav class='pull-right search-paging'>
                                    <uib-pagination ng-model="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" class="pull-right"></uib-pagination>
                                </nav>
                            </div>
                    </div>
                </div>
              
            </div>
        </section>
    </div>
</div>


<script type="text/ng-template" id="iontopiceTemplate.html">
    <md-dialog aria-label="" style="width: 40%;height: 250px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
     <md-input-container class="md-block" flex-gt-sm style="margin-top:54px;">
            <label style="font-size: 17px;color: white;">Title</label>
            <input ng-model="iontitle" style="border: 1px solid #d0d0d0;border-radius: 3px;">
          </md-input-container>
      </div>
      
    </md-toolbar>

    <md-dialog-content style="height: 200px;">
      <textarea style="height: 130px;width: 95%;margin: 0px auto; display: table;border: 1px solid #ccc;border-radius: 5px;margin-top: 4px;" ng-model="iondescription"></textarea>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="no()">
      No
      </md-button>
      <md-button ng-click="iontopicsedit(iontitle,iondescription)">
        Yes
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<style>
    md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
            background-color: #33cccc;
            color: rgba(255,255,255,0.87);
    }
    </style>
</script>

