<script>
    app.controller("blogItemCtrl",function( $state,$mdDialog,$stateParams,$http,$scope,$rootScope,$state,commonService){
        	if(typeof sessionStorage.username==""){
				$state.go("access.login");
	        }
	        else{ 
                console.log(sessionStorage.category);
                    $rootScope.login_category=sessionStorage.category;
                   
                        commonService.blogFullView($stateParams.blogId).then(function(success){
                        $scope.items=success.data.description;
                            //console.log(success.data.description.coverimage);
                        $scope.content=success.data.description.content;
                        $scope.title=success.data.description.title;
                        $scope.coverimg=success.data.description.coverimage;
                        $scope.created_date=success.data.description.created_date;
                    })
              
             $scope.assigntome=function(content,title){
                    // console.log(content);
                    // console.log(title);
                    // console.log($stateParams.blogId);

                     var confirm = $mdDialog.confirm()
                              .title('Would you like to Assign')
                             .ok('Yes')
                              .cancel('No'); 
            $mdDialog.show(confirm).then(function() {
                            console.log(content);
                            var date=new Date();
                            var dataObject={
                                'blogid':$stateParams.blogId,
                                'group_id':sessionStorage.category,
                                'created_by':sessionStorage.USER_ID,
                                'user_id':$stateParams.userId,
                                //created_by means login userid
                                'category_id':$stateParams.category_id,
                            };
                            console.log(dataObject);
                            commonService.assignTheBlog(dataObject)
                            .then(function(res){
                                $mdDialog.show(
                                      $mdDialog.alert()
                                        .parent(angular.element(document.querySelector('#popupContainer')))
                                        .clickOutsideToClose(true)
                                        .textContent('Blog is Assigned To You Successfully.')
                                        .ok('Ok')
                                        .targetEvent()
                                    ).then(function(){
                                        $state.go('app.ui.blogs');
                                    })
                            },function(error){
                                $mdDialog.show(
                                      $mdDialog.alert()
                                        .parent(angular.element(document.querySelector('#popupContainer')))
                                        .clickOutsideToClose(true)
                                        .textContent('Blog Is Not Assigned Please Check Your Internet Connection And Then Contact Medicodesk.')
                                        .ok('Ok')
                                        .targetEvent()
                                    )
                            });

                  });   

             }       





                   
            }
    })
    </script>
<style type="text/css">
    img{
      max-width: 100%;
     }
</style>
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'IONIZE  Post';" ng-controller="blogItemCtrl">
    <div class="col-lg-12">
        <section class="box ">
            
            <div class="content-body padding-bottom-30">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- start -->
                        <div class="blog_post full_blog_post">
                            <h3><span ng-bind="title" style="color:#33cccc;float: left;font-size: 24px;"> </span> 
                            <!--<span>Created Date:{{created_date}}</span>-->
                            </h3>
                            <a ng-click="assigntome(content,title)" class="btn btn-primary" style="background:#33cccc;float: right;margin-bottom: 10px;" ng-show="login_category!=20 && login_category!=22" ><span>Assign To Me</span>  &nbsp;</a>
                            <!--<p class="blog_info">
                                <i class="fa fa-comment"></i> <a href="#comments">3 comments</a> &nbsp;&nbsp;&nbsp;&nbsp;
                             <i class="fa fa-tags"></i> <a href="#">responsive</a> <a href="#">web</a> <a href="#">mobile</a>
                            </p>--> 
                            <img class="media-object" ng-src="{{coverimg}}" ng-if="coverimg!=defaultCoverImage">
                            <div class="blog-content"><p ng-bind-html="content" style="word-wrap: break-word;margin-top: 10px; "></p>
                             
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
