<style>
    .md-select-value>span:not(.md-select-icon)
    {
        color: #6e6e6e;
        font-weight:700;
        
    }
    md-select .md-select-value.md-select-placeholder 
    {
        border-width: 0 0 2px;
        border-color: #33cccc;
    }
</style>
<script type="text/javascript">
    app.controller('SettleCtrl', function($state,$scope, $filter, $rootScope,$http,commonService) {
        //start date
        /*
        $scope.startDate = "2010-01-06";
        $scope.endDate = "2020-01-06";
        */
         if(sessionStorage.username=="" || sessionStorage.username == undefined){
                    $state.go("access.login");
          }
          else{
               $rootScope.login_category=sessionStorage.category;
               //for blog start from first page
                    $rootScope.selectedIndexForBlogs=0;
                    $rootScope.currentPageForBlogs=1;	
                //for blog start from first page
                //for assign blog start from first page
                    $rootScope.assignedBlogIndex=0;
                    $rootScope.currentPageForAssignedBlogs=1;
		        //for assign blog start from first page
               if(sessionStorage.category==22)
                {
                     commonService.getQueriesReportForRM().then(function success(response) {
                        // console.log(response);
                        $scope.query=response.data.description;
                        $scope.totalItems=response.data.description.length;
                        $scope.currentPage = 1;
                        $scope.entryLimit = 10; // items per page
                        $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
                    });
                }
                else{
                    commonService.reportes_query().then(function success(response) {
                        console.log(response);
                        $scope.query=response.data.description;
                        $scope.totalItems=response.data.description.length;
                        $scope.currentPage = 1;
                        $scope.entryLimit = 10; // items per page
                        $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
                    });
                }
          }
             /* $scope.clearFilter=function(){
                    $scope.startDate = "2010-01-06";
                    $scope.endDate = "2020-01-06";
              };
              $scope.exportData=function(){
                    alasql('SELECT * INTO XLSX("settlements.xlsx",{headers:true}) FROM ?',[$scope.settlements]);
                }  */ 
        
             
    });
/*
    app.filter("myfilter", function($filter) {
        return function(items, from, to) {
            return $filter('filter')(items, "dates", function(v) {
                var date = moment(v);
                return date >= moment(from) && date <= moment(to);
            });
        };
    });
*/
    app.filter('startBlogFrom', function () {
	return function (input, start) {
		if (input) {
			start = +start;
			return input.slice(start);
		}
		return [];
	};
    });
   
</script>

<!--<link rel="stylesheet" type="text/css" href="css/datepicker.css"></link> -->
 
                   <!--  <script>
                        var input = document.querySelector('input[name="date1"]');
                        var picker = datepicker(input);
                        input.addEventListener('input', () => {
                            console.log('strat date', input.value);
                        });

                        var input1 = document.querySelector('input[name="date2"]');
                        var picker = datepicker(input1);
                        input1.addEventListener('input', () => {
                            console.log('end date', input1.value);
                        });
                    </script> -->
<!--datepicker css-->
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Query';" ng-controller="SettleCtrl" >
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Query Table</h2>
            </header>
            <div class="content-body padding-bottom-15">
			 <!-- <table class="field">
                        <tr>
                            <td><b>Start Date -</b></td>
                            <td><input type="text" name="date1" ng-model="startDate" /></td>
                            <td><b>End Date -</b></td>
                            <td><input type="text" name="date2" ng-model="endDate" /></td>
                            <td><input type="button" value="Clear Filters" style="margin-left: 16px;border-radius: 6px;height: 41px;" ng-click="clearFilter()"/></td>
                            <td><input type="text" ng-model="searchFilter" style="margin-left: 106px;" placeholder="Search.."/></td>
                        </tr>
                    </table> -->
                
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                      <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="input-group primary" inputgroup>
                                <span class="input-group-addon">                
                                <span class="arrow"></span>
                                <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="form-control search-page-input" placeholder="Search" ng-model="searchFilter">
                            </div>
                       </div>
                     <div class="col-md-5 col-sm-6 col-xs-12">
                        <nav class='pull-right search-paging'>
                            <uib-pagination ng-model="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" class="pull-right"></uib-pagination>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                        <table class="table table-striped" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:25%">Name</th>
                                    <th style="width:25%">Questions</th>
                                    <th style="width:25%">Answered</th>
                                    <th style="width:25%">Unanswered</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in filtered=query | filter:searchFilter | filter:favoriteColor | startBlogFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td><a ui-sref="app.tables.hospital_questions_fulldata({teamId:item.teamid})" style="color: #757575;">{{item.name}}</a></td>
                                <td>{{item.questions}}</td>
                                <td>{{item.answered}}</td>
                                <td>{{item.unanswered}}</td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
                <!-- <button type="button" ng-click="exportData()" class="btn btn-info">Download</button> -->
            </div>
        </section>
    </div>
</div>